In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3.tar.gz (814 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 814.2/814.2 kB 2.4 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Collecting dnspython<3.0.0,>=1.16.0
  Using cached dnspython-2.3.0-py3-none-any.whl (283 kB)
Building wheels for collected packages: pymongo
  Building wheel for pymongo (setup.py) ... done
  Created wheel for pymongo: filename=pymongo-4.3.3-cp38-cp38-macosx_11_0_arm64.whl size=382800 sha256=56b16dcea6dde6b2b93ec997b253f044849c7c263cf6ae5e289eddffce572cea
  Stored in directory: /Users/sunilthapa/Library/Caches/pip/wheels/3f/bb/81/58fd3d8baa1be597774a2922eaae9cb5fe9c56d2cff535205f
Successfully built pymongo
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [1]:
import pymongo

In [2]:
from pymongo import MongoClient

In [3]:
client = MongoClient()

In [4]:
db = client.test

In [5]:
employee = db.employee

In [6]:
employee_details = {
    'Name': 'Raj Kumar',
    'Address': 'Sears Street, NZ',
    'Age': '42'
}

In [7]:
result = employee.insert_one(employee_details)

In [8]:
print(result.inserted_id)

63d46279d6b11726fafa8999

In [23]:
mylist = [
    {"_id":10,"name":"John","address":"Highway 37"},
    {"_id":20,"name":"Peter","address":"Lowstreet 27"},
    {"_id":33,"name":"Amy","address":"Apple st 652"},
    {"_id":44,"name":"Hannah","address":"Mountain 21"},
    {"_id":55,"name":"Michael","address":"Valley 345"}
]

In [24]:
x = employee.insert_many(mylist)
print(x.inserted_ids)

[10, 20, 33, 44, 55]

In [11]:
# Duplication error
mylist = [
    {"_id":6,"name":"Sunil","address":"Camilla 10"},
    {"_id":6,"name":"Ram","address":"Nayabazar"},
]
x = employee.insert_many(mylist)
print(x.inserted_ids)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 1, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: test.employee index: _id_ dup key: { _id: 6 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 6}, 'op': {'_id': 6, 'name': 'Ram', 'address': 'Nayabazar'}}], 'writeConcernErrors': [], 'nInserted': 1, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [12]:
x = employee.find_one()

In [13]:
x

{'_id': ObjectId('63cf470a08860783e032e45e'),
 'Name': 'Raj Kumar',
 'Address': 'Sears Street, NZ',
 'Age': '42'}

In [14]:
for x in employee.find():
    print(x)

{'_id': ObjectId('63cf470a08860783e032e45e'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': ObjectId('63d46279d6b11726fafa8999'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sunil', 'address': 'Camilla 10'}

In [15]:
myreseult = employee.find().limit(5)

for x in myreseult:
    print(x)

{'_id': ObjectId('63cf470a08860783e032e45e'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': ObjectId('63d46279d6b11726fafa8999'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [16]:
result = employee.find()
for x in result[:5]:
    print(x)

{'_id': ObjectId('63cf470a08860783e032e45e'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': ObjectId('63d46279d6b11726fafa8999'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [17]:
for x in employee.find({}, {'_id': 0, 'name': 1, 'address': 1}):
    print(x)

{}
{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sunil', 'address': 'Camilla 10'}

In [18]:
for x in employee.find({}, {'Age': 0}):
    print(x)

{'_id': ObjectId('63cf470a08860783e032e45e'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ'}
{'_id': ObjectId('63d46279d6b11726fafa8999'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sunil', 'address': 'Camilla 10'}

In [19]:
for x in employee.find({}, {'Age': 1}):
    print(x)

{'_id': ObjectId('63cf470a08860783e032e45e'), 'Age': '42'}
{'_id': ObjectId('63d46279d6b11726fafa8999'), 'Age': '42'}
{'_id': 1}
{'_id': 2}
{'_id': 3}
{'_id': 4}
{'_id': 5}
{'_id': 6}

In [25]:
myquery = {'address': 'Highway 37'}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 10, 'name': 'John', 'address': 'Highway 37'}

In [26]:
mylist = [
    {"name":"Samir","address":"Highway 37"},
    {"name":"Sushil","address":"Highway 37"}
]

x = employee.insert_many(mylist)
print(x.inserted_ids)

[ObjectId('63d46f61d6b11726fafa899a'), ObjectId('63d46f61d6b11726fafa899b')]

In [27]:
myquery = {'address': 'Highway 37'}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 10, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63d46f61d6b11726fafa899a'), 'name': 'Samir', 'address': 'Highway 37'}
{'_id': ObjectId('63d46f61d6b11726fafa899b'), 'name': 'Sushil', 'address': 'Highway 37'}

In [37]:
mydoc = list(employee.find(myquery))
for x in mydoc[-2:]:
    print(x)

{'_id': ObjectId('63d46f61d6b11726fafa899a'), 'name': 'Samir', 'address': 'Highway 37'}
{'_id': ObjectId('63d46f61d6b11726fafa899b'), 'name': 'Sushil', 'address': 'Highway 37'}

In [44]:
myquery = {'address': {'$gt': 'S'}}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 55, 'name': 'Michael', 'address': 'Valley 345'}

In [45]:
myquery = {'address': {'$regex': '^V'}}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 55, 'name': 'Michael', 'address': 'Valley 345'}

In [47]:
myquery = {'address': {'$regex': '[a-zA-Z]*l[a-zA-Z]*'}}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sunil', 'address': 'Camilla 10'}
{'_id': 33, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 55, 'name': 'Michael', 'address': 'Valley 345'}

In [48]:
myquery = {'address': {'$regex': '[l]'}}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sunil', 'address': 'Camilla 10'}
{'_id': 33, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 55, 'name': 'Michael', 'address': 'Valley 345'}

In [68]:
myquery = {'address': {'$regex': '^V|l'}}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sunil', 'address': 'Camilla 10'}
{'_id': 33, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 55, 'name': 'Michael', 'address': 'Valley 345'}

In [102]:
myquery = {'address': {'$regex': '^V.*l+'}}
mydoc = employee.find(myquery)

for x in mydoc:
    print(x)

{'_id': 55, 'name': 'Michael', 'address': 'Valley 345'}

In [90]:
mydoc = employee.find().sort('name')

for x in mydoc:
    print(x)

{'_id': ObjectId('63cf470a08860783e032e45e'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': ObjectId('63d46279d6b11726fafa8999'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 33, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 44, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 10, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 55, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 20, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63d46f61d6b11726fafa899a'), 'name': 'Samir', 'address': 'Highway 37'}
{'_id': 6, 'name': 'Sunil', 'address': 'Camilla 10'}
{'_id': ObjectId('63d46f61d6b11726fafa899b'), 'name': 'Sushil', 'address': 'Highway 37'}

In [91]:
mydoc = employee.find().sort('name', -1)

for x in mydoc:
    print(x)

{'_id': ObjectId('63d46f61d6b11726fafa899b'), 'name': 'Sushil', 'address': 'Highway 37'}
{'_id': 6, 'name': 'Sunil', 'address': 'Camilla 10'}
{'_id': ObjectId('63d46f61d6b11726fafa899a'), 'name': 'Samir', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 20, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 55, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 10, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 44, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 33, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63cf470a08860783e032e45e'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': ObjectId('63d46279d6b11726fafa8999'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}

In [92]:
for x in employee.find():
    print(x)

myquery = {'address': 'Valley 345'}
newvalues = {'$set': {'address': 'Canyon 123'}}

employee.update_one(myquery, newvalues)

for x in employee.find():
    print(x)

{'_id': ObjectId('63cf470a08860783e032e45e'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': ObjectId('63d46279d6b11726fafa8999'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sunil', 'address': 'Camilla 10'}
{'_id': 10, 'name': 'John', 'address': 'Highway 37'}
{'_id': 20, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 33, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 44, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 55, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63d46f61d6b11726fafa899a'), 'name': 'Samir', 'address': 'Highway 37'}
{'_id': ObjectId('63d46f61d6b11726fafa899b'), 'name': 'Sushil', 'address': 'Highway 37'}
{'_id': ObjectId('63cf470a08860783e032e45e'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': ObjectId('63d46279d6b11726fafa8999'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sunil', 'address': 'Camilla 10'}
{'_id': 10, 'name': 'John', 'address': 'Highway 37'}
{'_id': 20, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 33, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 44, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 55, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63d46f61d6b11726fafa899a'), 'name': 'Samir', 'address': 'Highway 37'}
{'_id': ObjectId('63d46f61d6b11726fafa899b'), 'name': 'Sushil', 'address': 'Highway 37'}

In [93]:
myquery = {'address': {'$regex': '^C'}}
newvalues = {'$set': {'name': 'Minnie'}}

x = employee.update_many(myquery, newvalues)

print(x.modified_count, 'documents updated.')

for x in employee.find():
    print(x)

2 documents updated.
{'_id': ObjectId('63cf470a08860783e032e45e'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': ObjectId('63d46279d6b11726fafa8999'), 'Name': 'Raj Kumar', 'Address': 'Sears Street, NZ', 'Age': '42'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Minnie', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Minnie', 'address': 'Camilla 10'}
{'_id': 10, 'name': 'John', 'address': 'Highway 37'}
{'_id': 20, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 33, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 44, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 55, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63d46f61d6b11726fafa899a'), 'name': 'Samir', 'address': 'Highway 37'}
{'_id': ObjectId('63d46f61d6b11726fafa899b'), 'name': 'Sushil', 'address': 'Highway 37'}